.tile {
    /*-fx-background-color: cadetblue;*/
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0), 5, 0, 0, 0);
    -fx-background-color: linear-gradient(#cccccc, #c2c2c2);
}

.tile:hover {
    -fx-background-color: linear-gradient(#d3d4e3, #b6b7c2);
}

.boat-tile {
    -fx-background-color: green;
}

.boat-hit-tile {
    -fx-background-color: linear-gradient(#ffd642 ,#ffd026);
}

.boat-hit-tile:hover {
    -fx-background-color: linear-gradient(#ffd642 ,#ffd026);
}

.boat-destroyed-tile {
    -fx-background-color: linear-gradient(#1f1313, #080505);
}

.boat-destroyed-tile:hover {
    -fx-background-color: linear-gradient(#1f1313, #080505);
}

.mine-tile {
    -fx-background-color: red;
}

.mine-exploded-tile {
    -fx-background-color: linear-gradient(#ed1f29, #e0101a);
}

.mine-exploded-tile:hover {
    -fx-background-color: linear-gradient(#ed1f29, #e0101a);
}

.missed-tile {
    -fx-background-color: #636363;
}

.missed-tile:hover {
    -fx-background-color: #636363;
}